html, body{
    scroll-behavior: smooth;
}


body{
    background-image: url(images/MAIN\ BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}


/*======------------========
        NAVBAR
======------------========*/

.header .navbar ul{
    background: #6F4436CC;
    border-radius: 10px;
}

.header .navbar .nav-item{
    margin: 0 20px;
}

.header .navbar .nav-item a{
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
    color: #FFFFFF;

}

.header .navbar .nav-item:hover{
    background-color: #FFFFFF;
    border-radius: 10px;
}

.header .navbar .nav-item:hover a{
    color: #6F4436CC;
}

.header .navbar .nav-item a:active .nav-item{
    background-color: #FFFFFF;
    border-radius: 10px;
}

.header .navbar .container .SignUp{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#523728;
    border: 2px solid #523728;
    border-radius: 25px;
    padding: 10px 20px;
}

.header .navbar .container .SignUp:hover{
    color:#FFFFFF;
    background-color: #523728;

}


/*-----SMALL SCREEN-----*/
@media (max-width: 991px) {
    .header .navbar .container .SignUp{
        margin-left: 15px;
    }

    .header .navbar .nav-item {
        margin: 0;
    }

    .header .navbar ul{
        background: none;
    }

    .header .navbar .nav-item:hover{
        background-color: transparent;
    }

}


/*======------------========
       HOME SECTION
======------------========*/

section .home-text h2{
    color: #523728;
    font-size: 60px;
    font-weight: 400;
    line-height: 82.8px;
    font-family: inter;
}


section .home-text p{
    color: #1b0b0bb7;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
}

.home-section .home-buttons .btn-getStarted{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
    background-color: #6A4028;
    border-radius: 25px;
    padding: 10px 20px;
}

.home-section .home-buttons .btn-getStarted:hover{
    
    background-color: #523728;

}

.home-section .home-buttons .btn-watchDemo{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#6A4028;
    border: 2px solid #523728;
    border-radius: 25px;
    padding: 10px 20px;
}



/*-----SMALL SCREEN-----*/
@media (max-width: 991px) {
    section .home-text h2{
        color: #523728;
        font-size: 30px;
        font-weight: 400;
        line-height: 42.8px;
    }


}

/*-----SMALL SCREEN-----*/
@media (max-width: 335px) {

    .home-section .home-buttons .btn-watchDemo{
        font-size: 14px;
        font-weight: 600;
    }
}


/*======------------========
       ABOUT SECTION
======------------========*/


.about-section{
    background-color: #FFF8E1;
}

.about-text h1{
    font-family: inter;
}

.about-text p{
    font-weight: 400;
    color: #6A4028;
}

.about-text .btn-learnMore{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
    background-color: #6A4028;
    border-radius: 25px;
    padding: 10px 20px;
}

/*======------------========
       MENU SECTION
======------------========*/
.section-header{
    font-family: inter;
}


.menu-section{
    background-color: #6A4028E5;
}

.menu-section .menu-item{
    background-color: #FFF8E1;
    border-radius: 30px;
    height: 100%;
}

.menu-section .menu-item h3, .menu-section .menu-item p{
    font-family: inter;
    font-weight: 700;
}

.menu-section .menu-item .rating h3, 
.menu-section .menu-item .rating i{
    color: #523728;
}

.menu-section .menu-item .rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-section .menu-item .rating span{
    font-weight: 700;
    color: green;
}

.menu-section .container .btnMore,
.menu-section .container .btnMore i{
    color: #FFF8E1;
}

/*======------------========
       BLOG SECTION
======------------========*/

.blog-section{
    background-color: #FFF8E1;;
}

.blog-section .section-header h2, 
.blog-section .section-header p{
    font-family: inter;
    color: #523728;
}

.blog-section .blog-item{
    background-color: #FFF8E1;
    border-radius: 30px;
    height: 100%;
}

.blog-section .blog-item h5{
    color: #BB6939;
}

.blog-section .blog-item{
 color: #523728;
}



/*======------------========
       CONTACT SECTION
======------------========*/

.contact-section{
    background-color: #6A4028E5;
}

.contact-section .contact-left .social-icons i{
    font-size: 25px;
}

.contact-section .contact-left .social-icons i:hover{
    color: #FCAE36;
}




/*======------------========
       CONTACT FORM SECTION
======------------========*/

.contact-section .contact-form input,
.contact-section .contact-form textarea,
.contact-section .contact-form button{
    border-radius: 30px;
}

.contact-section .contact-form button{
    background-color: #FCAE36;
}